<ion-view name="user" title="Edit Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
		<div>
			<h4>Email</h4>
			<label class="item item-input">
			  <input ng-model="me.email" type="email">
			</label>
		</div>
		<div>
			<h4>Skills</h4>
			
			<label ng-repeat="skill in me.skills" class="item item-input">
			  <input ng-model="skill" type="text">
			</label>

			<button ng-click="addSkillOnClick()" id="add-skill-button" class="button button-positive button-fab button-fab-bottom-right">
            	<i class="icon ion-plus"></i>
        	</button>

		</div>
		<div>
			<button class="button button-assertive button-block ">Update</button>
		</div>
	</ion-content>
</ion-view>