<ion-view name="user" title="Edit Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="button-bar">
        <button ng-class="(profileOption=='myInfo')?'button button-assertive':'button button-assertive button-outline'" ng-click="profileOption='myInfo'">My Info</input>
        <button ng-class="(profileOption=='lookingFor')?'button button-assertive':'button button-assertive button-outline'" ng-click="profileOption='lookingFor'">Looking For</a>
      </div>
		<div>
			<h4>Email</h4>
			<label class="item item-input">
			  <input ng-model="me.email" type="email">
			</label>
		</div>
    <div ng-show="profileOption=='myInfo'">
      <div>
        <h4>Top Four Skills</h4>

        <label ng-repeat="skill in me.skills" class="item item-input">
          <input ng-model="skill" type="text">
        </label>
        <button ng-click="addSkillOnClick()" id="add-skill-button" class="button button-positive button-fab button-fab-bottom-right">
                <i class="icon ion-plus"></i>
        </button>
          <h4>Top Two Technologies</h4>
          <label ng-repeat="industry in me.industries" class="item item-input">
            <input ng-model="industry" type="text">
          </label>
        <button ng-click="addIndustryOnClick()" id="add-skill-button" class="button button-positive button-fab button-fab-bottom-right">
                <i class="icon ion-plus"></i>
        </button>
      </div>
      <div>
        <button class="button button-assertive button-block ">Update</button>
      </div>
    </div>
    <div ng-show="profileOption=='lookingFor'">
      <p>
        boom
      </p>
    </div>

	</ion-content>
</ion-view>
